$headline1: 57px;
$headline2: 45px;
$headline3: 36px;
$headline4: 32px;
$headline5: 28px;
$headline6: 24px;
$subtitle1: 22px;
$subtitle2: 16px;
$body1: 18px;
$body2: 14px;
$body3: 16px;
$caption: 12px;
$overline: 14px;
$bgVerde: #3FAF67;
$bgCrema: #F2ECDE;
